body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  margin-bottom: 3em;
}

.switch {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.assigned {
  background-color: darkgray;
}

#markX,
#markO {
  margin-top: 1em;
  font-size: 20px;
  width: 3em;
  height: 3em;
}

.gameContain {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  gap: 0;
}

#gameBox {
  flex: 1;
  display: flex;
  border-radius: 0%;
  font-size: 100px;
  width: 1em;
  height: 1em;
  align-items: center;
  justify-content: center;
}
