body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(31, 28, 28);
  padding-bottom: 2em;
  border-bottom: 1px solid white;
}

#header > h1 {
  font-size: x-large;
}

#btnContain {
  display: flex;
  gap: 1em;
}

button {
  border: none;
  padding: 1em 2em 1em 2em;
  border-radius: 0;
  background-color: white;
  cursor: pointer;
}

#contain {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("./background.jpg");
  background-size: cover;
}

#content {
  background-color: rgba(22, 21, 21, 0.6);
  border: 1px solid white;
  color: white;
  padding: 1em 2em 15.5em 2em;
}

#heroImg {
  max-width: 16em;
  max-height: 18em;
  border-radius: 1em;
}

#cta {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.menuGrid {
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2em;
}

.pizza {
  padding: 0em 2em;
  max-width: 12em;
}

.pizza > img {
  max-width: 120px;
}

.pizza > h3 {
  margin: 0;
}

.pizza > button:hover {
  background-color: lightgray;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.about {
  max-width: 20em;
}

.footer {
  display: flex;
  background-color: black;
  color: white;
  margin: 0;
}
