body {
  padding: 0;
  margin: 0;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(31, 28, 28);
  padding-bottom: 2em;
}

#header > h1 {
  font-size: x-large;
}

#btnContain {
  display: flex;
  gap: 1em;
}

button {
  border: none;
  padding: 1em 2em 1em 2em;
  border-radius: 0;
  background-color: white;
}
