:root {
  background-color: rgb(43, 39, 39);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#searchBar {
  display: flex;
  gap: 1em;
  justify-content: center;
}

#forecastInfo {
  margin-top: auto;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
